<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329654395699-jaf5ldud3lof58al5oq40gepfhmoio6r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329654395699-jaf5ldud3lof58al5oq40gepfhmoio6r</string>
	<key>API_KEY</key>
	<string>AIzaSyAVJQ4wefFrCfi4IMUmP3gkZBS1ztfjZw4</string>
	<key>GCM_SENDER_ID</key>
	<string>329654395699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.serendpt.vezzosi</string>
	<key>PROJECT_ID</key>
	<string>jvf-vezzosi</string>
	<key>STORAGE_BUCKET</key>
	<string>jvf-vezzosi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329654395699:ios:85e6e13f0978362f</string>
	<key>DATABASE_URL</key>
	<string>https://jvf-vezzosi.firebaseio.com</string>
</dict>
</plist>