<!DOCTYPE html>
<html lang="en" ng-app="app" ng-cloak ng-strict>
  <head>
    

    <title>Jvf</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- viewport iphone 11 -->
    <meta name="viewport" content="initial-scale=1, width=device-width, height=device-height, viewport-fit=cover">
    <meta name="format-detection" content="telephone=yes" />

    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="N1VUBptpsJS6yD3poKbuv9wHh2znhF2yjWu0dmUzQIFtn+ZpugY08a49itpM7wFfjcTFkqjPv7uw1I5S4wIdtg==" />
    
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="js/index.js"></script>


    <style type="text/css">
      #app_spinner {
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background: white;
        z-index: 1000000;
      }
      #app_spinner div {
        height: 40px;
        width: 20em;
        position: absolute;
        top: calc(50vh - 20px);
        left: calc(50vw - 10em);
        text-align: center;
        font-size: 1.8em;
        font-weight: bold;
        color: white;
        background: #282828;
      }
      #app_spinner div.reload {
        top: calc(50vh - 50px);
        padding-top: 12px;
        cursor: pointer;
      }
    </style>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body ng-controller="JvfController as ctl" data-space_id="1515">
    <!-- NAVBAR -->
    <div id="nav-header" class="header" ng-show="!ctl.menu_opened">
        <span class="header-menu" ng-click="ctl.openMenu('menu_popup')"><img src="images/ico_menu.svg"/></span>
        <span class="header-title">{{ctl.title == '' ? ctl.space.title : ctl.title}}</span>
        <span class="header-sign" id="sign-in" ng-if="false && !ctl.logged" ng-click="ctl.openLog()"><img src="images/ico_account.svg" /></span>
    </div>
    <!-- chiudo il menu -->
    <div id="nav-header" class="header" ng-show="ctl.menu_opened">
        <span class="header-menu"></span>
        <span class="header-title">{{ctl.title}}</span>
        <span class="header-sign" ng-click="ctl.closeMenu()"><img src="images/ico_close_black.svg" /></span>
    </div>


    <div class="spinner" id="app_spinner">
      <div class="loading">{{ 'loading' | translate }}</div>
      <div class="reload" ng-click="ctl.reload()" style="display: none;">
        {{ 'network_err' | translate }}<br />
        {{ 'click_retry' | translate }}
      </div>
    </div>

    <div id="menu_popup" class="menu_popup">
      <div class="menu_container">
        <div class="menu_section">
          <div class="section_title"><span>SEZIONI</span></div>
          <div class="section_grid">
            <div ng-click="ctl.goto('/posts')" class="grid_item_left">
              <span><img src="images/ico_post.svg"/></span>     
              <span>POST</span>
            </div>
            <div ng-click="ctl.goto('/showroom')" class="grid_item_right">
              <span><img src="images/ico_prodotti.svg"/></span> 
              <span>CATALOGO</span>
            </div>
            <div ng-click="ctl.goto('/gallery')" class="grid_item_left">
              <span><img src="images/ico_gallery.svg"/></span> 
              <span>GALLERY</span>
            </div>
            <div ng-click="ctl.goto('/chat')" class="grid_item_right">
              <span><img src="images/ico_chat.svg"/></span> 
              <span>CHAT</span>
            </div>
          </div>
        </div>

        <div class="menu_section">
          <div class="section_title"><span>CATEGORIE</span></div>
          <div class="section_list">
            <div class="list_item">
              <span ng-click="ctl.goto('/showroom?filter=anello')">ANELLI<span>
            </div>
            <div class="list_item">
              <span ng-click="ctl.goto('/showroom?filter=bracciale')">BRACCIALI<span>
            </div>
            <div class="list_item">
              <span ng-click="ctl.goto('/showroom?filter=collana')">COLLANE<span>
            </div>
            <div class="list_item">
              <span ng-click="ctl.goto('/showroom?filter=orecchini')">ORECCHINI<span>
            </div>
            <div class="list_item">
              <span ng-click="ctl.goto('/showroom?filter=ciondoli')">CIONDOLI<span>
            </div>
          </div>
        </div>

        <div class="menu_section">
          <div class="section_title"><span>ALTRO</span></div>
          <div class="section_list">
            <div class="list_item">
              <span ng-click="ctl.goto('/chi_siamo')">CHI SIAMO<span>
            </div>
            <div class="list_item">
              <span ng-click="ctl.goto('/conttati')">CONTATTI<span>
            </div>
            <div class="list_item">
             <span ng-click="ctl.goto('/privacy')">INFORMATIVA SULLA PRIVACY<span>
            </div>
          </div>
        </div>
        <!-- sezione per i social network -->
        <!--div class="menu_section">
          <div class="section_title"><span>FOLLOW US</span></div>
          <div class="section_list">
            <div class="list_item">
              <span>F<span>
              <span>IG<span>
            </div>
          </div>
        </div-->
      </div> 
    </div>

    <div id="filter_popup" class="menu_popup">
      <div class="menu_container">
        <div class="menu_section">
          <div class="section_title"><span></span></div>
          <div class="section_list">
            <div class="list_item">
              <span ng-click="ctl.resetFilter()">RESET<span>
            </div>
            <div class="list_item">
              <span ng-click="ctl.goto('/showroom?filter=anello')">ANELLI<span>
            </div>
            <div class="list_item">
              <span ng-click="ctl.goto('/showroom?filter=bracciale')">BRACCIALI<span>
            </div>
            <div class="list_item">
              <span ng-click="ctl.goto('/showroom?filter=collana')">COLLANE<span>
            </div>
            <div class="list_item">
              <span ng-click="ctl.goto('/showroom?filter=orecchini')">ORECCHINI<span>
            </div>
            <div class="list_item">
              <span ng-click="ctl.goto('/showroom?filter=ciondoli')">CIONDOLI<span>
            </div>
          </div>
        </div>
      </div> 
    </div>

    <div class="container {{ctl.no_scroll}}" style="min-height: 100vh; padding-bottom: 80px;">
      <ng-view></ng-view>

<script type="text/ng-template" id="partials/login.html">
  <div class="main-log-cont">
  <!--div class="div-close"><a ng-click="ctl.closeLog()" style="margin-right: 3px;">X</a></div-->
  <div class="intermedio">
    <div class="log-cont">
      <label style="font-size:19px; font-weight: bold;">{{ 'login_msg' | translate }}</label>
      <label style="font-size:16px; font-weight: bold;">Email</label>
      <input type="email" name="email" id="email" style="border-bottom: solid 3px #aa165f;">
      <label style="font-size:16px; font-weight: bold;">Password</label>
      <input type="password" name="password" id="pwd" style="border-bottom: solid 3px #aa165f;">
    </div>
    <div class="log-btn">
      <button class="btn-margin btn-decor" ng-click="ctl.logIn()">Log In</button>
      <button class="btn-margin btn-decor" ng-click="ctl.register()">{{ 'register' | translate }}</button>
    </div>
  </div>
</div>
</script>
<script type="text/ng-template" id="partials/chi_siamo.html">
  <div id="profile" class="page_80">
  <div class="row">
    <div class="col-sm-3 hide_sm">
      <div class="content_img_scheda ">
      </div>
    </div>
    <div id="banner">
      <div class="banner_container no_opacity"></div>
    </div>
  </div>
  <h2 style="text-align: center;">
    {{ctl.space.title}}
  </h2>
  <h5 class="h5_scheda j_height_des" ng-bind-html="ctl.space.info.des_page | to_trusted"></h5>
  <br /><br />
</div>
</script>
<script type="text/ng-template" id="partials/conttati.html">
  <div style="padding-top: 64px; text-align: center;">
	<h1>{{ctl.space.title}}</h1>
	<br/>
	<h3 style="font-size: 14px;">SEDE</h3>
	<p>{{ctl.space.info.indirizzo}} </p> 
	<p>{{ctl.space.info.cap}} {{ctl.space.info.citta}} - {{ctl.space.info.provincia}}
	- {{ctl.space.info.state}}</p>
	<p><a href="tel:{{ctl.space.info.nr_telefono_clean}}"><b>Tel.</b>  {{ctl.space.info.nr_telefono}}</a></p>
	<!--p><b>Fax.</b>  +39 </p-->

	<a href="mailto:{{ctl.space.info.email_contatto}}"><p>{{ctl.space.info.email_contatto}}</p></a>
</div>
</script>
<script type="text/ng-template" id="partials/privacy.html">
  <div>
<br/>
<p style="margin-top: 64px;">
	Vezzosi operates the Vezzosi app, which provides the SERVICE.
</p>
<p>
This page is used to inform app users regarding our policies with the collection, use, and disclosure of Personal Information if anyone decided to use our Service, the Vezzosi app.
</p>
<p>
If you choose to use our Service, then you agree to the collection and use of information in relation with this policy. The Personal Information that we collect are used for providing and improving the Service. We will not use or share your information with anyone except as described in this Privacy Policy.
</p>
<p>
The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which is accessible at Vezzosi app, unless otherwise defined in this Privacy Policy.
</p>
<h2>
Information Collection and Use
</h2>
<p>
For a better experience while using our Service, we may require you to provide us with certain personally identifiable information, including but not limited to your name, phone number, and postal address. The information that we collect will be used to contact or identify you.
</p>
<h2>
Log Data
</h2>
<p>
We want to inform you that whenever you visit our Service, we collect information that your browser sends to us that is called Log Data. This Log Data may include information such as your computer’s Internet Protocol ("IP") address, browser version, pages of our Service that you visit, the time and date of your visit, the time spent on those pages, and other statistics.
</p>
<h2>
Cookies
</h2>
<p>
Cookies are files with small amount of data that is commonly used an anonymous unique identifier. These are sent to your browser from the website that you visit and are stored on your computer’s hard drive.

Our website uses these "cookies" to collection information and to improve our Service. You have the option to either accept or refuse these cookies, and know when a cookie is being sent to your computer. If you choose to refuse our cookies, you may not be able to use some portions of our Service.
</p>

<h2>
Service Providers
</h2>
<p>
We may employ third-party companies and individuals due to the following reasons:
	<ul>
    <li>To facilitate our Service;</li>
    <li>To provide the Service on our behalf;</li>
    <li>To perform Service-related services; or</li>
    <li>To assist us in analyzing how our Service is used.</li>
	</ul>
</p>
<p>
We want to inform our Service users that these third parties have access to your Personal Information. The reason is to perform the tasks assigned to them on our behalf. However, they are obligated not to disclose or use the information for any other purpose.
</p>
<h2>
Security
</h2>
<p>
We value your trust in providing us your Personal Information, thus we are striving to use commercially acceptable means of protecting it. But remember that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee its absolute security.
</p>
<h2>
Links to Other Sites
</h2>
<p>
Our Service may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by us. Therefore, we strongly advise you to review the Privacy Policy of these websites. We have no control over, and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.
</p>
<h2>
Children’s Privacy
</h2>
<p>
Our Services do not address anyone under the age of 13. We do not knowingly collect personal identifiable information from children under 13. In the case we discover that a child under 13 has provided us with personal information, we immediately delete this from our servers. If you are a parent or guardian and you are aware that your child has provided us with personal information, please contact us so that we will be able to do necessary actions.
</p>
<h2>
Changes to This Privacy Policy
</h2>
<p>
We may update our Privacy Policy from time to time. Thus, we advise you to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately, after they are posted on this page.
</p>
<h2>
Contact Us
</h2>
<p>
If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us.
</p>
</div>
</script>
<script type="text/ng-template" id="partials/posts.html">
  <div id="posts" class="page_80">
  <div class="content_post p-3 mb-5 bg-white rounded" ng-repeat="p in ctl.space.posts">
    
    <img ng-click="ctl.showPost(p)" src="{{p.immagine_1}}" class="img-responsive mt-3" alt="JVF">
    <p>{{p.languages[0].des_annuncio}}</p>
    
    <!--div class="content_action_post">
        <div class="action_post_icon no_cp"><i class="fa fa-heart-o"></i> 10&nbsp;Mi piace</div>
    </div-->
  </div>

</div>
</script>
<script type="text/ng-template" id="partials/showroom.html">
  <div id="showroom" class="page_80">
  <div class="filtri_grid">
    <span class="prod bottom_border " >{{(ctl.space.products | filter:ctl.search).length}} {{'products' | translate}}</span>
    <span class="filtri bottom_border left_border" ng-click="ctl.openMenu('filter_popup')" ><img src="images/ico_filter.svg"/></span>
  </div>
  <div class="row" style="margin-top: 15px;">
    <div class="col-md-4 col-6" ng-repeat="p in ctl.space.products | filter:ctl.search">
      <div class="href_art" ng-click='ctl.showProduct(p)'>
        <span style="position: absolute; top: 4px; right: 18px; clear: both;"><img src="images/ico_plus.svg"/></span>
        <img src="{{p.photo_galleries[0].nome_foto}}"
        class="img-responsive bordered_f0 " alt="JVF" />
        <h3 style="text-align: center;">{{p.nome_prodotto}}</h3>
        <!-- div class="prezzo_scat">€ 12,00</div -->
      </div>
    </div>
  </div>    
</div>
</script>
<script type="text/ng-template" id="partials/gallery.html">
  <div id="gallery" class="page_80">
  <div class="owl-item cloned">
    <div class="item" style="padding-top: 20px" ng-repeat="g in ctl.space.gallery">
      <img src="{{g.nome_foto}}"
        class="img-responsive bg-white rounded" alt="{{ctl.space.title}}" />
      <br />
    </div>
  </div>

</div>
</script>
<script type="text/ng-template" id="partials/video.html">
  <div id="video" class="page_80">
  <br />
  <h1 class="h1_scheda">Video Aziendale</h1>
  <br />
  
  <iframe ng-if="ctl.space.info.video_aziendale" width="100%" height="350px" src="{{ctl.space.info.video_aziendale | to_trusted_url}}" frameborder="0" allowfullscreen=""></iframe>
</div>
</script>
<script type="text/ng-template" id="partials/home.html">
  <div id="profile" class="page_80">
  <div class="row">
    <div class="col-sm-3 hide_sm">
      <div class="content_img_scheda ">
      </div>
    </div>
    <div id="banner">
      <div class="banner_container">
        <p class="claim"> {{ctl.space.info.claim_page}} </p>
        <div ng-click="ctl.goto('/chi_siamo')" class="who_are_we">
         <p>{{ 'who_we_are' | translate}} <img src="images/ico_arrow_white.svg"/> </p>
        </div>
      </div>
      <div class="info_box">
        <div class="info_grid" >
          <span class="right_border"><a href="tel:{{ctl.space.info.nr_telefono_clean}}"> <img src="images/ico_tel.svg"/>CHIAMACI</a></span>
          <span><img src="images/ico_mail.svg"/><a href="mailto:{{ctl.space.info.email_contatto}}">SCRIVICI</a></span>
          <div class="address top_border">
            <span class="map_img">
              <img src="images/ico_map.svg"/>
            </span> 
            <span class="address_text">
              {{ctl.space.info.indirizzo}}, {{ctl.space.info.cap}} {{ctl.space.info.citta}} - {{ctl.space.info.provincia}} - {{ctl.space.info.state}}
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="higlight_product_container" style="margin-top: 100px;">
      <h2 style="margin-left: 20px;">Prodotti in evidenza</h2>
      <!-- PIU DI UNA FOTO -->
      <div id="carouselIndicators_product" ng-init="ctl.swipeFunction('#carouselIndicators_product')" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators"  style="bottom: -25px;">
          <li data-target="#carouselIndicators_product" class="{{($index == 0) ? 'active' : '' }}" data-slide-to="{{$index}}" 
              ng-repeat="product in ctl.space.highlight_products track by $index"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item {{($index == 0) ? 'active' : '' }}" ng-repeat="product in   ctl.space.highlight_products track by $index">
            <div class="row" style="width: 95%; margin: 0 auto;">
              <div class="col-md-6 col-6">
                <div class="href_art" nf-if="product[0]" ng-click='ctl.showProduct(product[0])'>
                  <span style="position: absolute; top: 4px; right: 18px; clear:  both;"><img src="images/ico_plus.svg"/></span>
                  <img src="{{product[0].photo_galleries[0].nome_foto}}"
                  class="img-responsive bordered_f0 " alt="JVF" />
                  <h3 style="text-align: center;">{{product[0].nome_prodotto}}</h3>
                </div>
              </div>
              <div class="col-md-6 col-6">
                <div class="href_art" ng-if="product[1]" ng-click='ctl.showProduct(product[1])'>
                  <span style="position: absolute; top: 4px; right: 18px; clear:  both;"><img src="images/ico_plus.svg"/></span>
                  <img src="{{product[1].photo_galleries[0].nome_foto}}"
                  class="img-responsive bordered_f0 " alt="JVF" />
                  <h3 style="text-align: center;">{{product[1].nome_prodotto}}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--button class="carousel-control-prev" style="border:none!important; background-color: transparent!important;" onclick="$('#carouselIndicators_product').carousel('prev')">
          <i class="material-icons" style="color:#282828;font-size: 45px;">keyboard_arrow_left</i>
          <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" style="border:none!important; background-color: transparent!important;" onclick="$('#carouselIndicators_product').carousel('next')">
          <i class="material-icons" style="color:#282828;font-size: 45px;">keyboard_arrow_right</i>
          <span class="sr-only">Next</span>
        </button-->
      </div>
    </div>

    <div class="recent_post_container" style="margin-top: 20px;">
      <h2 style="margin-left: 20px;">Post recenti</h2>
      <!-- PIU DI UNA FOTO -->
      <div ng-if="ctl.space.posts.length > 1">
        <div id="carouselIndicators_post" ng-init="ctl.swipeFunction('#carouselIndicators_post')" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators"  style="bottom: -25px;">
            <li data-target="#carouselIndicators_post" class="{{($index == 0) ? 'active' : '' }}" data-slide-to="{{$index}}" 
                ng-repeat="p in ctl.space.recent_posts track by $index"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item {{($index == 0) ? 'active' : '' }}" ng-repeat="p in ctl.space.recent_posts track by $index">
              <!--img id="carousel-img" class="img-size popcont" src="{{p.immagine_1}}" alt="JVF"-->
              <div class="image_container" style="background: url('{{p.immagine_1}}'); width: 100%;height: 300px;background-size: cover;"></div>
              <p style="text-align: center; width: 100%; position: relative; ">{{p.languages[0].des_annuncio}}</p>
            </div>
          </div>
          <!--button class="carousel-control-prev" style="border:none!important; background-color: transparent!important;" onclick="$('#carouselIndicators_post').carousel('prev')">
            <i class="material-icons" style="color:#282828;font-size: 45px;">keyboard_arrow_left</i>
            <span class="sr-only">Previous</span>
          </button>
          <button class="carousel-control-next" style="border:none!important; background-color: transparent!important;" onclick="$('#carouselIndicators_post').carousel('next')">
            <i class="material-icons" style="color:#282828;font-size: 45px;">keyboard_arrow_right</i>
            <span class="sr-only">Next</span>
          </button-->
        </div>
      </div>
    </div>

  </div>
</div>
</script>
<script type="text/ng-template" id="partials/chat.html">
  <div id="chat" class="page_80" style="overflow-y: none;">
  <div id="chat-box" class="chat-box" style="overflow-y: auto;padding-bottom: 50px;">
    <div ng-repeat="elem in ctl.space.chats.messages">
        <div ng-if="elem.message" class="{{ ctl.space.space_id == elem.to ?  'chat_anwser' : 'chat_question'}}">
        <span ng-bind-html="elem.message | newlines | to_trusted "></span>
        <div class="orario" style="text-align: right;">{{elem.display_time}}</div>
      </div>
    </div>
  </div> 

  <div class="input-container">
    <div class="text_area">
      <textarea id="msg-input" type="text" name="message"></textarea>
    </div>
    <div class="send-btn">
      <div class="my_send_btn" ng-click="ctl.send()">INVIA</div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var textarea = document.getElementById("msg-input");

  textarea.addEventListener('keydown', autosize);
               
  function autosize(){
    var el = this;
    var max_height = $('#chat')[0].style.height - $("#chat-box")[0].style.height;
    setTimeout(function(){
      el.style.cssText = 'height:auto; padding:0, max-height:' + max_height + ';';
      el.style.cssText = 'height:' + el.scrollHeight + 'px; max-height: 50px;';
    },0);
    $("#chat-box").scrollTop($("#chat-box")[0].scrollHeight);
  }
</script>
</script>
<script type="text/ng-template" id="partials/product_detail.html">
  <div id="imgpop" style="padding-top: 90px;">
  <div>
    <!-- SOLO UNA FOTO -->
    <div class="popcont img-size" ng-if="ctl.product_detail.photo_galleries.length == 1">
      <img class="img-size popcont" src="{{ctl.product_detail.photo_galleries[0].nome_foto}}" clrass="d-block w-100" alt="JVF">
    </div>
    <!-- PIU DI UNA FOTO -->
    <div ng-if="ctl.product_detail.photo_galleries.length > 1">
      <div id="carouselIndicators" ng-init="ctl.swipeFunction('#carouselIndicators')" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators" style="bottom: -50px;">
          <li data-target="#carouselIndicators" class="{{($index == 0) ? 'active' : '' }}" data-slide-to="{{$index}}" 
              ng-repeat="foto in ctl.product_detail.photo_galleries track by $index"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item {{($index == 0) ? 'active' : '' }}" ng-repeat="foto in ctl.product_detail.photo_galleries track by $index">
            <img id="carousel-img" class="img-size popcont" ng-if="ctl.current_view == 'product_detail'" src="{{foto.nome_foto}}" clrass="d-block w-100" alt="JVF">
          </div>
        </div>
        <!--button class="carousel-control-prev" style="border:none!important; background-color: transparent!important;" onclick="$('#carouselIndicators').carousel('prev')">
          <i class="material-icons" style="color:#282828;font-size: 45px;">keyboard_arrow_left</i>
          <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" style="border:none!important; background-color: transparent!important;" onclick="$('#carouselIndicators').carousel('next')">
          <i class="material-icons" style="color:#282828;font-size: 45px;">keyboard_arrow_right</i>
          <span class="sr-only">Next</span>
        </button-->
      </div>
    </div>

    <div style="margin: 0 auto;">
      <div style="margin:50px;">
        <div style="display: grid; grid-template-columns: auto auto;" ng-if="ctl.product_detail.des_estesa != '' && ctl.product_detail.des_estesa != null">
          <!--p class="pop-title-desc"><b>{{ 'product_des' | translate }}</b></p-->
          <b style="color: #282828;">Descrizione:</b> <p id="desc-content" style="padding-left: 5px;" class="pop-text-content" >{{ctl.product_detail.des_estesa}}</p>
          <b style="color: #282828;">Nazione:</b> <p style="padding-left: 5px;" class="pop-text-content"> {{ctl.space.info.state}}</p>
          <b style="color: #282828;">Peso: </b>   <p style="padding-left: 5px;" class="pop-text-content"> {{(ctl.product_detail["Peso g"]) ? ctl.product_detail["Peso g"] : 'Not Specified'}}</p>
          <b style="color: #282828;">Prezzo: </b> <p style="padding-left: 5px;" class="pop-text-content"> {{(ctl.product_detail["prezzo"]) ? ctl.product_detail["prezzo"] : 'Not Specified'}}</p>
        </div>
        <div ng-if="ctl.product_detail.specifiche_text != '' && ctl.product_detail.specifiche_text != null">
          <p class="pop-title-desc"><b>{{ 'product_spc' | translate }}</b></p>
          <p id="desc-content" class="pop-text-content">{{ctl.product_detail.specifiche_text}}</p>
        </div>
      </div>
      
      <div class="input-container" style="bottom: 0;">
        <div class="text_area">
          <textarea id="msg-input" type="text" name="message"></textarea>
        </div>
        <div class="send-btn">
          <div class="my_send_btn" ng-click="ctl.send()">INVIA</div>
        </div>
      </div>

    </div>
  </div>


  <div id="message-sent">
    <h3><b>{{ 'message_sent' | translate }}</b></h3>
    <p>{{ 'f_msg_sent' | translate }}</p>
  </div>
</div>

<script type="text/javascript">
  var textarea = document.getElementById("msg-input");

  textarea.addEventListener('keydown', autosize);
               
  function autosize(){
    var el = this;
    setTimeout(function(){
      el.style.cssText = 'height:auto; padding:0; max-height: 180px!important;';
      el.style.cssText = 'height:' + el.scrollHeight + 'px; max-height: 180px!important;';
    },0);
    $(".page-chat-container")[0].style.cssText = 'max-height:40%;';
    $("#chat-box-container")[0].style.cssText = 'max-height:40%;';
  }
</script>
</script>
<script type="text/ng-template" id="partials/post_detail.html">
  <div id="postpop" class="page_100">
  <div>
    <!-- SOLO UNA FOTO -->
    <div class="popcont img-size" ng-if="ctl.post_pics.length == 1">
      <img class="img-size popcont d-block w-100" src="{{ctl.post_pics[0]}}" alt="JVF">
    </div>
    <!-- PIU DI UNA FOTO -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" ng-if="ctl.post_pics.length > 1">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" class="{{($index == 0) ? 'active' : '' }}" data-slide-to="{{$index}}" 
              ng-repeat="foto in ctl.post_pics track by $index"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item {{($index == 0) ? 'active' : '' }}" ng-repeat="foto in ctl.post_pics track by $index">
          <img class="img-size popcont" src="{{foto}}" clrass="d-block w-100" alt="JVF">
        </div>
      </div>
      <button class="carousel-control-prev" style="border:none!important; background-color: transparent!important;" onclick="$('#carouselExampleIndicators').carousel('prev')">
          <i class="material-icons" style="color:#282828;font-size: 45px;">keyboard_arrow_left</i>
          <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" style="border:none!important; background-color: transparent!important;" onclick="$('#carouselExampleIndicators').carousel('next')">
          <i class="material-icons" style="color:#282828;font-size: 45px;">keyboard_arrow_right</i>
          <span class="sr-only">Next</span>
        </button>
    </div>

    <div style="margin: 0 auto; max-width: 80%;">
      <div style="margin:10px;">
        <div ng-if="ctl.post_detail.languages[0].des_annuncio != '' && ctl.post_detail.languages[0].des_annuncio != null">
          <p id="desc-content" class="pop-text-content">{{ctl.post_detail.languages[0].des_annuncio}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
</script>
<script type="text/ng-template" id="partials/menu.html">
  <div id="menu_popup" class="menu_popup">
  
  <div class="menu_container">
    <div class="menu_section">
      <div class="section_title"><span>SEZIONI</span></div>
      <div class="section_grid">
        <div class="grid_item_left">
          <span><img src="images/ico_post.svg"/></span>     
          <span>POST</span>
        </div>
        <div class="grid_item_right">
          <span><img src="images/ico_prodotti.svg"/></span> 
          <span>CATALOGO</span>
        </div>
        <div class="grid_item_left">
          <span><img src="images/ico_gallery.svg"/></span> 
          <span>GALLERY</span>
        </div>
        <div class="grid_item_right">
          <span><img src="images/ico_chat.svg"/></span> 
          <span>CHAT</span>
        </div>
      </div>
    </div>

    <div class="menu_section">
      <div class="section_title"><span>CATEGORIE</span></div>
      <div class="section_list">
        <div class="list_item">
          <span>ANELLI<span>
        </div>
        <div class="list_item">
          <span>BRACCIALI<span>
        </div>
        <div class="list_item">
          <span>COLLANE<span>
        </div>
        <div class="list_item">
          <span>ORECCHINI<span>
        </div>
        <div class="list_item">
          <span>CIONDOLI<span>
        </div>
      </div>
    </div>

    <div class="menu_section">
      <div class="section_title"><span>ALTRO</span></div>
      <div class="section_list">
        <div class="list_item">
          <span>CHI SIAMO<span>
        </div>
        <div class="list_item">
          <span>CONTATTI<span>
        </div>
        <div class="list_item">
         <span>INFORMATIVA SULLA PRIVACY<span>
        </div>
      </div>
    </div>
    <div class="menu_section">
      <div class="section_title"><span>FOLLOW US</span></div>
      <div class="section_list">
        <div class="list_item">
          <span>F<span>
          <span>IG<span>
        </div>
      </div>
    </div>
  </div>
  
</div>
</script>
    </div>

    <!-- POP UP MESSAGGIO POST LOGIN O LOGOUT -->
    <div id="log-pop-ok" class="log-pop">
      <h3><b>{{ 'log-succ' | translate }}</b></h3>
      <p>{{ 'log-ok' | translate }}</p>
    </div>

    <div id="log-pop-out" class="log-pop">
      <h3><b>{{ 'log-out-ti' | translate }}</b></h3>
      <p>{{ 'log-out' | translate }}</p>
    </div>

    <div id="log-pop-err" class="log-pop">
      <h3><b>{{ 'log-error' | translate }}</b></h3>
      <p>{{ 'log-bad' | translate }}</p>
    </div>
    <div class="bottom_menu">
      <div class="bottom_grid">
        <div ng-click="ctl.goto('/home')" class="bottom_item {{(ctl.current_view == 'home') ? 'active' : ''}}">
          <span class="icon">
            <img style="width: 25px;" src="images/ico_home.svg"/>
          </span>
          <span class="caption">
            HOME
          </span>
        </div>
        <div ng-click="ctl.goto('/showroom')" class="bottom_item {{(ctl.current_view == 'showroom') ? 'active' : ''}}">
          <span class="icon">
            <img src="images/ico_prodotti.svg"/>
          </span>
          <span class="caption">
            CATALOGO
          </span>
        </div>
        <div ng-click="ctl.goto('/gallery')" class="bottom_item {{(ctl.current_view == 'gallery') ? 'active' : ''}}">
          <span class="icon">
            <img src="images/ico_gallery.svg"/>
          </span>
          <span class="caption">
            GALLERY
          </span>
        </div>
        <div ng-click="ctl.goto('/posts')" class="bottom_item {{(ctl.current_view == 'posts') ? 'active' : ''}}">
          <span class="icon">
            <img src="images/ico_post.svg"/>
          </span>
          <span class="caption">
            POST
          </span>
        </div>
        <div ng-click="ctl.goto('/chat')" class="bottom_item {{(ctl.current_view == 'chat') ? 'active' : ''}}">
          <span class="icon">
            <img src="images/ico_chat.svg"/>
          </span>
          <span class="caption">
            CHAT
          </span>
        </div>
      </div>
    </div>
  </body>
</html>
